@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header,
.footer {
    display: flex;
    align-items: center;
    height: 72px;
    justify-content: space-between;
    padding: 5px;
}

.links {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}
.top {
    display: flex;
    padding: 0 100px;
    background-color: #1f2937;
}

.first-header {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.top {
    color: #e5e7eb;
}

.first-header-subtext,
.links {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color:#e5e7eb;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    align-items: center;
}

.first-container {
    display: flex;
}

.logo {
    display: flex;
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

.second-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.third {
    background-color: #e5e7eb;
    padding: 0 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.signature {
    display: flex;
    justify-content: flex-end;
}

.images-second {
    display:flex;
    align-items: center;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 5px 20px;
    border-style: solid;
}

.fourth {
    color: #f9faf8;
    background-color: #3882f6;
    margin: 0 200px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
}

.fourth-button {
    border-color: #f9faf8;
}

.first-button  {
    border-color: #1f2937;
}

.fourth-header {
    font-weight: 800;
}

.second {
    padding: 0 200px;
}

.first {
    padding: 0 200px;
}